@font-face {
	font-family: "Segoe UI Webfont";
	src: local("Segoe UI Light"),
	url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.woff") format("woff"),
	url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.ttf") format("truetype");
	font-weight: 200;
}

@font-face {
	font-family: "Segoe UI Webfont";
	src: local("Segoe UI Semilight"),
	url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.woff") format("woff"),
	url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: "Segoe UI Webfont";
	src: local("Segoe UI"),
	url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.woff") format("woff"),
	url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "Segoe UI Webfont";
	src: local("Segoe UI Semibold"),
	url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/semibold/latest.woff") format("woff"),
	url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/semibold/latest.ttf") format("truetype");
	font-weight: 600;
}

body {
	font: 15px/20px "Segoe UI Webfont", "Segoe UI", sans-serif;
}

.container{
    max-width:100%;
    width:800px;
    margin: 0 auto;
}